*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body{
  max-width: 1400px;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
}

.mainImage{
 

&__icons{
  height: 90px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
}

&__icons img{
  width: 30px;
  height: 22px;
  margin-left: 100px;
  margin-top: 36px;
}
 .subst{
  margin-top: 0;
  margin-right: 299px;
  position: absolute;
  right: 440px;
  top: 21px;
 }

 @font-face {
  font-family: Roboto;
  src: url(./fonts/Poppins/Roboto/Roboto-Bold.ttf);
 }

&__icons h6{
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 672px;
  align-items: center;
  font-family:Roboto;
  color: white;
  font-weight: 900;
  font-size: 40px;
  line-height: 96px;
}

&__icons span{
  font-size: 26px;
}

.telep{
  width: 29px;
  height: 29px;
  margin-right: 120px;
}
}

.glav{
  margin: 6px 0 0 50px;
  font-family:sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
}

.glav a{
  text-decoration: none;
  color: #828282;
  font-size: 12px;
  font-weight: 600;
}

.btns{
  display: flex;
  text-align: center;
  width: 440px;
}

.btn1 button{
  width: 200px;
  height: 58px;
  background: #000000;
  border: none;
  font-style: normal;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.btn2 button{
  box-sizing: border-box;
  width: 200px;
  height: 58px;
  border: 1px solid #000000;
  background: #FFFFFF;
  color: #4F4F4F;
}
.btn2 a{
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #4F4F4F;
  text-decoration: none;
}
.background{
  margin-top: 30px;
  background-image: url(./images/LIVING_02\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  // background-size: contain;
  background-size: 1351px 750px;
  width: 1351px;
  height: 750px;
}

@font-face {
  font-family: Regular;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

.boxc{
  width: 375px;
  height: 243px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 0;
  margin-right: 0;
  color: #FFFFFF;
  font-style: normal;
  font-family:Regular;
  font-size: 19px;
  line-height: 42px;
  color: #FFFFFF;
}

.boxc h3{
  font-size: 33px;
}

@font-face {
  font-family: Regular;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

.mainInfor{
  margin-top: 60px;
  display: flex;
}

.left h1{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
  color: #000000;
}

.left p{
  font-family: Regular;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 53px;
  color: #828282;
}

.left{
  border-right: 1px solid  #E0E0E0;
}

.right p{
  font-family: Regular;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 147.19%;
  color: #444343;
}

.grid{
 display: flex;
 margin-top: 50px;
 gap: 1px;
}

.gridImg1 img{
 width: 670px;
 height: 600px;
}

.gridImg2 img{
  width: 670px;
  height: 600px;
}

.gridImg3 img{
 width: 1350px;
 height: 650px;
 margin-top: 10px;
}

.information{
  display: flex;
  margin-top: 50px;
  margin-left: 10px;
}

.child1 h2{
  font-family: Regular;
  font-style: normal;
  font-size: 38px;
  line-height: 42px;
  color: #000000;
}

.child2{
  width: 700px;
  font-family:Regular;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 147.19%;
  color: #4F4F4F;
}

.pictures {
  display: flex;
  margin-top: 30px;
}

.pictures img{
  width: 445px;
  height: 520px;
}

.grid7{
  width: 1350px;
  height: 650px;
  margin-top: 10px;
}

.lastBTN{
  margin-top: 40px;
}

.grayy{
  margin-top: 35px;
  display: flex;
  width: 1208px;
  height: 217px;
  background: #F2F2F2;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
}

.grayy p{
  font-family: Poppins;
  margin-top: 80px;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 146.69%;
  color: #000000;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Poppins/Roboto/Roboto-Thin.ttf);
}

.grayy button{
  margin-top: 100px;
  width: 350px;
  height: 70px;
  box-sizing: border-box;
  background: #000000;
  border: 1px solid #000000;
  font-family: Roboto;
  font-style: normal;
  font-size: 21px;
  line-height: 42px;
  text-align: center;
  color: #F2F2F2;
  
}

.footerSection{
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.startimg{
background-repeat: no-repeat;
background-image: url(./images/Rectangle\ 56.png);
background-position: center;
background-size:999px 700px;
margin-top: 25px;
width: 990px;
height: 699px;
margin-left: 0;
position: absolute;
left: 0;
}

.rightside img{
position: absolute;
left: 590px;
width: 133px;
height:136px;
margin-top: 10px;
margin-left: 0;
}


.gidCommanda{
position: absolute;
left: 40px;
margin-top: 350px;
}

.gidCommanda h5{
color: #faff09;  
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 146.19%;
}

.gidCommanda p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 196.19%;
color: #F2F2F2;
}


.gidCommanda2{
position: absolute;
left: 280px;
margin-top: 350px;
}

.gidCommanda2 h5{
color: #faff09;  
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 146.19%;
}

.gidCommanda2 p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 196.19%;
color: #F2F2F2;
}

.gidCommanda3{
position: absolute;
left: 480px;
margin-top: 350px;
}

.gidCommanda3 h5{
color: #faff09;  
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 146.19%;
}

.gidCommanda3 p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 196.19%;
color: #F2F2F2;
}

.gidCommanda4{
position: absolute;
left: 660px;
margin-top: 359px;
}

.gidCommanda4 h5{
color: #faff09;  
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 146.19%;
}

.gidCommanda4 p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 196.19%;
color: #F2F2F2;
}

.inter{
display: flex;
gap: 60px;
margin-top: 300px;
margin-left: 780px;
}

.inter img{
width: 40px;
height: 40px;
border-radius: 10px;
}

.height{
margin-top: 50px;
margin-right: 40px;
height: 150px;
width: 65px;
display: flex;
flex-direction: column;
}


.height img{
margin-top: 10px;
border: #000;
}