*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body{
  max-width: 1400px;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
}

.mainImage{
  
&__icons{
  height: 90px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
}

&__icons img{
  width: 30px;
  height: 22px;
  margin-left: 100px;
  margin-top: 36px;
}
 .subst{
  margin-top: 0;
  margin-right: 299px;
  position: absolute;
  right: 440px;
  top: 21px;
 }

 @font-face {
  font-family: Roboto;
  src: url(./fonts/Poppins/Roboto/Roboto-Bold.ttf);
 }

&__icons h6{
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 672px;
  align-items: center;
  font-family:Roboto;
  color: white;
  font-weight: 900;
  font-size: 40px;
  line-height: 96px;
}

&__icons span{
  font-size: 26px;
}

.telep{
  width: 29px;
  height: 29px;
  margin-right: 120px;
}
}

.glav{
  width: 120px;
  margin: 6px 0 0 50px;
  font-family:sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
  display: flex;
}

.glav a{
  text-decoration: none;
  color: #828282;
  font-size: 12px;
  font-weight: 700;
}


.btns{
  text-align: center;
}

.btns button{
  width: 169px;
  height: 51px;
  background: #F2F2F2;
  border: none;
  color: #4F4F4F;
}

.sariq{
  background: #faff09;
}

.mainSections{
  margin-top: 30px;
}

.filters{
  margin-top: 16px;
  margin-left: 65px;
}

.filters img{
  width: 406px;
  height: 457px;
}

.second{
  filter:brightness(0.2);
}

.filters button{
 position: absolute;
 right: 139px;
 margin-top: 210px;
 width: 234px;
 height: 55px;
 border: 1px solid #FFFFFF;
 background-color: rgba(0, 0, 0, 0.8);
 color: #FFFFFF;
}

@font-face {
  font-family: Regular;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

.texts{
  display: flex;
}
 
 .text1{
  margin-left: 0;
 }

.text1 h5{
  font-family: Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;      
}

.text1 p{
  color: #4F4F4F;
  line-height: 30px;
}
 
 .text2{
  margin-left: 0;
 }

.text2 h5{
  font-family: Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;      
}

.text2 p{
  color: #4F4F4F;
  line-height: 30px;
}
  
.text3{
  margin-left: 0;
}

.text3 h5{
  font-family: Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;      
}

.text3 p{
  color: #4F4F4F;
  line-height: 30px;
}
 @font-face {
  font-family: Roboto;
  src: url(./fonts/Poppins/Roboto/Roboto-Bold.ttf);
 }

 h5{
  font-family: Roboto;
 }
.picturee{
  margin-top: 40px;
  margin-left: 65px;
  font-family: Roboto;
}

.picturee img{
  width: 406px;
  height: 457px;
}

 .sutruct{
  display: flex;
  justify-content: space-between;
 }

.text4{
  margin-left: 0;
}

.text4 h5{
  font-family: Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;      
}

.text4 p{
  color: #4F4F4F;
  line-height: 30px;
}

.text5{
  margin-left: 60px;
}

.text5 h5{
  font-family: Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;      
}

.text5 p{
  color: #4F4F4F;
  line-height: 30px;
}

.text6{
  margin-left: 0;
}

.text6 h5{
  font-family: Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;      
}

.text6 p{
  color: #4F4F4F;
  line-height: 30px;
}

.vector{
  margin-top: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 11px 55px;
  background: #000000;
  border: 1px solid #000000;
}

.grayy{
  margin-top: 35px;
  display: flex;
  width: 1208px;
  height: 217px;
  background: #F2F2F2;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
}

.grayy p{
  font-family: Poppins;
  margin-top: 80px;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 146.69%;
  color: #000000;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Poppins/Roboto/Roboto-Thin.ttf);
}

.grayy button{
  margin-top: 100px;
  width: 350px;
  height: 70px;
  box-sizing: border-box;
  background: #000000;
  border: 1px solid #000000;
  font-family: Roboto;
  font-style: normal;
  font-size: 21px;
  line-height: 42px;
  text-align: center;
  color: #F2F2F2;
  
}

.footerSection{
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.startimg{
background-repeat: no-repeat;
background-image: url(./images/Rectangle\ 56.png);
background-position: center;
background-size:999px 700px;
margin-top: 25px;
width: 990px;
height: 699px;
margin-left: 0;
position: absolute;
left: 0;
}

.rightside img{
position: absolute;
left: 590px;
width: 133px;
height:136px;
margin-top: 10px;
margin-left: 0;
}


.gidCommanda{
position: absolute;
left: 40px;
margin-top: 350px;
}

.gidCommanda h5{
color: #faff09;  
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 146.19%;
}

.gidCommanda p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 196.19%;
color: #F2F2F2;
}


.gidCommanda2{
position: absolute;
left: 280px;
margin-top: 350px;
}

.gidCommanda2 h5{
color: #faff09;  
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 146.19%;
}

.gidCommanda2 p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 196.19%;
color: #F2F2F2;
}

.gidCommanda3{
position: absolute;
left: 480px;
margin-top: 350px;
}

.gidCommanda3 h5{
color: #faff09;  
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 146.19%;
}

.gidCommanda3 p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 196.19%;
color: #F2F2F2;
}

.gidCommanda4{
position: absolute;
left: 660px;
margin-top: 359px;
}

.gidCommanda4 h5{
color: #faff09;  
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 146.19%;
}

.gidCommanda4 p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 196.19%;
color: #F2F2F2;
}

.inter{
display: flex;
gap: 60px;
margin-top: 300px;
margin-left: 780px;
}

.inter img{
width: 40px;
height: 40px;
border-radius: 10px;
}

.height{
margin-top: 50px;
margin-right: 40px;
height: 150px;
width: 65px;
display: flex;
flex-direction: column;
}


.height img{
margin-top: 10px;
border: #000;
}
