* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
}
.mainImage__icons {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
}
.mainImage__icons img {
  width: 30px;
  height: 22px;
  margin-left: 100px;
  margin-top: 36px;
}
.mainImage .subst {
  margin-top: 0;
  margin-right: 299px;
  position: absolute;
  right: 440px;
  top: 21px;
}
@font-face {
  font-family: Roboto;
  src: url(./fonts/Poppins/Roboto/Roboto-Bold.ttf);
}
.mainImage__icons h6 {
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 672px;
  align-items: center;
  font-family: Roboto;
  color: white;
  font-weight: 900;
  font-size: 40px;
  line-height: 96px;
}
.mainImage__icons span {
  font-size: 26px;
}
.mainImage .telep {
  width: 29px;
  height: 29px;
  margin-right: 120px;
}

.filterImg {
  margin-left: 0;
  background-image: url(./images/workers1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1351px 600px;
  width: 1351px;
  height: 600px;
  padding-top: 300px;
}

.blur {
  background-image: url(./images/workers1.png);
  position: absolute;
  top: 90px;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.6);
  background-size: 1351px 600px;
  width: 1351px;
  height: 600px;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Poppins/Roboto/Roboto-Thin.ttf);
}
.filterImg h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 94px;
  color: #FFFFFF;
  filter: brightness(9.99);
  margin-top: 0;
  position: absolute;
  top: 190px;
  margin-left: 400px;
  z-index: 100;
}

.circleImg {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background: #000000;
  border-radius: 40px;
}

.circleImg img {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  margin-left: 20px;
  filter: brightness(9.1);
}

.input h1 {
  color: #FFFFFF;
}

h2 {
  font-family: sans-serif;
  font-weight: 100;
  margin-top: 80px;
  margin-left: 40px;
  font-size: 38px;
  color: #2a2929;
  line-height: 56px;
}

.linee2 {
  width: 180px;
  height: 6px;
  margin-left: 0;
  background: #000000;
}

.childs {
  margin-top: 80px;
  display: flex;
}

.no1 img {
  width: 90px;
  height: 80px;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Poppins/Roboto/Roboto-Bold.ttf);
}
.no1 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-top: 20px;
}

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins/Roboto/Roboto-Thin.ttf);
}
.no1 p {
  margin-top: 30px;
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1px;
  color: #4F4F4F;
}

.no2 img {
  width: 90px;
  height: 80px;
}

.no2 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-top: 20px;
}

.no2 p {
  width: 198px;
  margin-top: 30px;
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 5px;
  color: #4F4F4F;
}

.no3 img {
  width: 90px;
  height: 80px;
}

.no3 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-top: 20px;
}

.no3 p {
  width: 229px;
  margin-top: 30px;
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 12px;
  color: #4F4F4F;
}

h2 {
  font-family: sans-serif;
  font-weight: 100;
  margin-top: 80px;
  margin-left: 40px;
  font-size: 38px;
  color: #2a2929;
  line-height: 56px;
}

.linee {
  width: 180px;
  height: 6px;
  margin-left: 0;
  background: #000000;
}

.filters {
  margin-top: 16px;
  margin-left: 65px;
}

.filters img {
  width: 406px;
  height: 457px;
}

.second {
  filter: brightness(0.2);
}

.filters button {
  position: absolute;
  right: 139px;
  margin-top: 210px;
  width: 234px;
  height: 55px;
  border: 1px solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.filters button a {
  text-decoration: none;
  color: #F5F5F5;
}

@font-face {
  font-family: Regular;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}
.texts {
  display: flex;
}

.text1 {
  margin-left: 0;
}

.text1 h5 {
  font-family: Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.text1 p {
  color: #4F4F4F;
  line-height: 30px;
}

.text2 {
  margin-left: 0;
}

.text2 h5 {
  font-family: Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.text2 p {
  color: #4F4F4F;
  line-height: 30px;
}

.text3 {
  margin-left: 0;
}

.text3 h5 {
  font-family: Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.text3 p {
  color: #4F4F4F;
  line-height: 30px;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Poppins/Roboto/Roboto-Bold.ttf);
}
h5 {
  font-family: Roboto;
}

.btn2 button {
  margin: 40px 0 0 550px;
  box-sizing: border-box;
  width: 200px;
  height: 58px;
  border: 1px solid #000000;
  background: #000000;
  color: #FFFFFF;
}

.daark {
  display: flex;
}
.daark__girl {
  margin-top: 32px;
  margin-left: 55px;
}
.daark__girl img {
  width: 630px;
  height: 420px;
}

.words h1 {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 112.69%;
  color: #000000;
}
.words p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18.72px;
  line-height: 146.19%;
  color: #4F4F4F;
  margin-top: 705px;
}
.words input {
  margin-top: 30px;
  box-sizing: border-box;
  width: 377px;
  height: 52px;
  border: 1px solid #000000;
  padding: 30px;
  background: #FFFFFF;
}
.words .on {
  width: 350px;
  display: flex;
  align-items: center;
  margin-left: 0;
}
.words .check {
  background: #000;
  width: 15px;
  height: 15px;
}
.words p {
  margin-top: 0;
  font-family: sans-serif;
  color: #4F4F4F;
  font-size: 14px;
}
.words .polu {
  margin-top: 42px;
  background-color: #000;
  color: white;
  width: 380px;
  height: 63px;
  padding: 15px;
  font-family: Poppins;
  font-size: 18px;
}

h2 {
  font-family: sans-serif;
  font-weight: 100;
  margin-top: 80px;
  margin-left: 40px;
  font-size: 38px;
  color: #2a2929;
  line-height: 56px;
}

.linee3 {
  width: 180px;
  height: 6px;
  margin-left: 0;
  background: #000000;
}

.ourCommanda {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.firsts {
  display: flex;
}

.firsts img {
  width: 180px;
  height: 180px;
  border-radius: 100px;
}

.with {
  margin-left: 10px;
}

.with h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 147.69%;
  color: #333333;
}

.with h6 {
  margin: 20px 0 20px 0;
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 147.69%;
  color: #4F4F4F;
}

.with p {
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 147.69%;
  color: #4F4F4F;
}

.seconds {
  display: flex;
}

.seconds img {
  width: 180px;
  height: 180px;
  border-radius: 100px;
}

.with {
  margin-left: 10px;
}

.with h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 147.69%;
  color: #333333;
}

.with h6 {
  margin: 20px 0 20px 0;
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 147.69%;
  color: #4F4F4F;
}

.with p {
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 147.69%;
  color: #4F4F4F;
}

.memebersSection {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.thirds {
  display: flex;
}

.thirds img {
  width: 180px;
  height: 180px;
  border-radius: 100px;
}

.with {
  margin-left: 10px;
}

.with h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 147.69%;
  color: #333333;
}

.with h6 {
  margin: 20px 0 20px 0;
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 147.69%;
  color: #4F4F4F;
}

.with p {
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 147.69%;
  color: #4F4F4F;
}

.vector {
  margin-top: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 11px 55px;
  background: #000000;
  border: 1px solid #000000;
  color: white;
}

.vector {
  cursor: pointer;
}

.constructorSection {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
}

.box1 {
  display: flex;
}

.box1 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 145.69%;
  color: #000000;
}

.const1 {
  display: flex;
  flex-direction: column;
}

.const1 img {
  width: 68px;
  height: 68px;
}

.const1 button {
  font-weight: 900;
  background: yellow;
  color: black;
  border: none;
  padding: 10px 37px;
}

.box2 {
  display: flex;
}

.box2 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 145.69%;
  color: #000000;
}

.box3 {
  display: flex;
}

.box3 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 145.69%;
  color: #000000;
}

.const1 p {
  font-family: poppins;
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  line-height: 147.69%;
  color: #4F4F4F;
}

.dashed {
  width: 1306px;
  height: 0;
  border: 2px dashed #000000;
  margin-top: 40px;
}

.ourproduct {
  display: flex;
  justify-content: space-between;
}

.box4 {
  display: flex;
}

.box4 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 145.69%;
  color: #000000;
}

.box5 {
  display: flex;
}

.box5 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 145.69%;
  color: #000000;
}

.arrow {
  margin-top: 129px;
  margin-left: 65px;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 295px;
  height: 62px;
  border: 1px solid #000000;
  background: #FFFFFF;
  font-family: poppins;
  font-style: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  box-sizing: border-box;
}

.arrow img {
  width: 96px;
  height: 20px;
}

@font-face {
  font-family: Regular;
  src: url(./fonts/Poppins/Roboto/Roboto-Regular.ttf);
}
.remontdiv {
  font-family: Regular;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  font-size: 15px;
}

.remontin1 {
  padding: 34px;
  width: 240px;
  height: 170px;
  background-color: #F5F5F5;
}

.remontin4 {
  padding: 34px;
  width: 240px;
  height: 170px;
  background-color: #F5F5F5;
}

.months {
  display: flex;
  justify-content: space-between;
}

.numm1 {
  margin: 50px 0 0 90px;
  border-right: 1px solid black;
}

.march p {
  font-family: Regular;
  font-size: 13px;
  color: #4f4f4f;
}

.march h4 {
  font-family: Regular;
  font-size: 20px;
  color: #000;
}

.march h5 {
  font-weight: 100;
  color: #4F4F4F;
  font-family: Regular;
  font-size: 17px;
}

.march button {
  padding: 12px 25px;
  border: 1px solid black;
  color: #000;
  background: white;
  font-weight: 100;
  font-family: Regular;
}

.march2 {
  margin-top: 50px;
}

.march2 p {
  font-family: Regular;
  font-size: 13px;
  color: #4f4f4f;
}

.march2 h4 {
  font-family: Regular;
  font-size: 20px;
  color: #000;
}

.march2 h5 {
  font-weight: 100;
  color: #4F4F4F;
  font-family: Regular;
  font-size: 17px;
}

.march2 button {
  padding: 12px 25px;
  border: 1px solid black;
  color: #000;
  background: white;
  font-weight: 100;
  font-family: Regular;
}

.numm2 {
  margin: 50px 40px 0 0;
}

.januar p {
  font-family: Regular;
  font-size: 13px;
  color: #4f4f4f;
}

.januar h4 {
  font-family: Regular;
  font-size: 20px;
  color: #000;
}

.januar h5 {
  font-weight: 100;
  color: #4F4F4F;
  font-family: Regular;
  font-size: 17px;
}

.januar button {
  padding: 12px 25px;
  border: 1px solid black;
  color: #000;
  background: white;
  font-weight: 100;
  font-family: Regular;
}

.januar2 {
  margin-top: 100px;
}

.januar2 p {
  font-family: Regular;
  font-size: 13px;
  color: #4f4f4f;
}

.januar2 h4 {
  font-family: Regular;
  font-size: 20px;
  color: #000;
}

.januar2 h5 {
  font-weight: 100;
  color: #4F4F4F;
  font-family: Regular;
  font-size: 17px;
}

.januar2 button {
  padding: 12px 25px;
  border: 1px solid black;
  color: #000;
  background: white;
  font-weight: 100;
  font-family: Regular;
}

.rightbutton {
  margin-right: 0;
  position: absolute;
  right: 40px;
  width: 260px;
  height: 60px;
}

.leftinfor {
  margin: 50px 0 0 100px;
}

.ofises {
  display: flex;
}

.leftt {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 450%;
  padding-top: 0;
  margin-left: 0;
}

.leftt img {
  width: 40px;
  height: 40px;
}

.thirds2 {
  display: flex;
  margin-left: 66px;
  position: absolute;
  left: 20px;
}

.thirds2 img {
  width: 180px;
  height: 180px;
  border-radius: 100px;
}

.with2 {
  margin-left: 15px;
  width: 490px;
}

.with2 h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 147.69%;
  color: #333333;
}

.with2 h6 {
  margin: 20px 0 20px 0;
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 147.69%;
  color: #000;
}

.with2 p {
  font-family: poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 137.69%;
  color: #000;
}

.how p {
  margin-top: 110px;
  font-family: Regular;
  color: #4F4F4F;
  line-height: 30px;
}

.how button {
  padding: 12px 25px;
  border: 1px solid black;
  color: #000;
  background: white;
  font-weight: 100;
  font-family: Regular;
}

.rightimg {
  margin-top: 60px;
}

.rightimg img {
  width: 650px;
  height: 500px;
}

.rightttside img {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 450%;
  padding-top: 0;
  margin-left: 0;
}

.botton {
  text-align: center;
  margin-top: 50px;
}

.botton img {
  width: 190px;
  height: 16px;
}

.afetrfooter {
  margin-top: 40px;
  display: flex;
  background: #F5F5F5;
  width: 950px;
  height: 210px;
}

.afetrfooter p {
  font-family: Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 146.69%;
  color: #000000;
  margin-top: 70px;
}

.afetrfooter button {
  border: none;
  background: black;
  width: 277px;
  height: 72px;
  font-family: Regular;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  color: #F2F2F2;
  margin-top: 70px;
}

.footerSection {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-top: 80px;
}

.startimg {
  background-repeat: no-repeat;
  background-image: url(./images/Rectangle\ 56.png);
  background-position: center;
  background-size: 999px 700px;
  margin-top: 25px;
  width: 990px;
  height: 699px;
  margin-left: 0;
  position: absolute;
  left: 0;
}

.rightside img {
  position: absolute;
  left: 590px;
  width: 133px;
  height: 136px;
  margin-top: 10px;
  margin-left: 0;
}

.gidCommanda {
  position: absolute;
  left: 40px;
  margin-top: 350px;
}

.gidCommanda h5 {
  color: #faff09;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 146.19%;
}

.gidCommanda p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 196.19%;
  color: #F2F2F2;
}

.gidCommanda2 {
  position: absolute;
  left: 280px;
  margin-top: 350px;
}

.gidCommanda2 h5 {
  color: #faff09;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 146.19%;
}

.gidCommanda2 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 196.19%;
  color: #F2F2F2;
}

.gidCommanda3 {
  position: absolute;
  left: 480px;
  margin-top: 350px;
}

.gidCommanda3 h5 {
  color: #faff09;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 146.19%;
}

.gidCommanda3 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 196.19%;
  color: #F2F2F2;
}

.gidCommanda4 {
  position: absolute;
  left: 660px;
  margin-top: 359px;
}

.gidCommanda4 h5 {
  color: #faff09;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 146.19%;
}

.gidCommanda4 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 196.19%;
  color: #F2F2F2;
}

.inter {
  display: flex;
  gap: 60px;
  margin-top: 300px;
  margin-left: 780px;
}

.inter img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.height {
  margin-top: 50px;
  margin-right: 40px;
  height: 150px;
  width: 65px;
  display: flex;
  flex-direction: column;
}

.height img {
  margin-top: 10px;
  border: #000;
}

/*# sourceMappingURL=remont.css.map */
